<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clouded Judgement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cameron Buescher and Craig Smitham">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Clouded Judgement</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/orders">Orders</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/metrics">Metrics</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">
    <!--<form action="/orders/clear" method="post">
        <button type="submit">Reset Order System</button>
    </form>-->
