{{> header }}
<h2>Orders</h2>

<form action="/orders" method="POST">
    <button type="submit">Create New Order</button>
</form>

<ul>
    {{#orderIds}}
        <li><a href="/orders/detail?orderId={{.}}">{{.}}</a></li>
    {{/orderIds}}
</ul>
{{> footer }}

