{{> header }}
<h2>Order Detail</h2>

Order ID: {{ order.orderId }}<br/>
Submitted: {{ order.timesSubmitted }} <br/>

<form action="/orders/submit?orderId={{order.orderId}}" method="POST">
    <button type="submit">Submit Order</button>
</form>
<div class="row">
    <div class="col-sm-6">
        <h3>Added Items</h3>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Item ID (SKU)
                </th>
                <th>
                    Quantity
                </th>
            </tr>

            </thead>
            <tbody>
            {{# order.items }}
                <tr>
                    <td>
                        {{itemId}}
                    </td>
                    <td>

                        {{quantity}}
                    </td>
                </tr>
            {{/order.items}}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Available Items</h3>

        <form action="/orders/detail" method="GET">
            <input type="hidden" name="orderId" value="{{order.orderId}}"/>
            <input type="text" id="query" name="query" placeholder="Product Name or SKU"/>
            <button type="submit">Search</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    SKU
                </th>
                <th>

                </th>
            </tr>

            </thead>
            <tbody>
            {{#products}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{sku}}</td>
                    <td>
                        <form action="/orders/addItem" method="POST">
                            <input type="hidden" name="orderId" value="{{order.orderId}}"/>
                            <input type="hidden" name="itemId" value="{{sku}}"/>
                            <input type="hidden" name="query" value="{{query}}" />
                            <button type="submit">+</button>
                        </form>

                    </td>
                </tr>
            {{/products}}
            </tbody>

        </table>
    </div>
</div>
{{> footer }}
