{{> header }}
<h2>Search Products</h2>

<form action="/products/search" method="POST">
	<input type="text" id="query" name="query" placeholder="Product Name or SKU"></input>
    <button type="submit">Search</button>
</form>

{{> footer }}

